<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/domain"
        tools:replace="android:usesCleartextTraffic"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.New_task"
        tools:targetApi="31">
        <activity
            android:name=".ui.Home.Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Kategori.Kategori" />
        <activity android:name=".ui.Kategori.SubKategori.Mobil.Mobil" />
        <activity android:name=".ui.Kategori.SubKategori.Motor.Motor" />
        <activity android:name=".ui.Kategori.SubKategori.Rumah.Rumah" />
        <activity android:name=".ui.Kategori.SubKategori.Properti.Properti" />
        <activity android:name=".ui.Kategori.SubKategori.Pribadi.Pribadi" />
        <activity android:name=".ui.Kategori.SubKategori.Hobi.Hobi" />
        <activity android:name=".ui.Kategori.SubKategori.Kantor.Kantor" />
        <activity android:name=".ui.Kategori.SubKategori.Jasa.Jasa" />
        <activity android:name=".ui.Kategori.SubKategori.Elektronik.Elektronik" />
        <activity android:name=".ui.Kategori.SubKategori.Anak.Anak" />
        <activity android:name="com.example.beeli.ui.IklanSayaFavorite.IklanSayaFavorite" />
        <activity android:name="com.example.beeli.ui.Login.Login" />
        <activity android:name="com.example.beeli.ui.Login.FormLogin" />
        <activity android:name="com.example.beeli.ui.Iklan.PasangIklan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Mobil.FormIklanMobilBekas" />
        <activity android:name="com.example.beeli.ui.Iklan.SubKategoriIklan.MobilIklan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Mobil.FormIklanMobilAksesori" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Mobil.FormIklanMobilKomersial" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Mobil.FormIklanMobilPart" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Mobil.FormIklanMobilVelg" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Mobil.FormIklanMobilAudio" />
        <activity android:name="com.example.beeli.ui.Iklan.PilihKategoriIklan" />
        <activity android:name="com.example.beeli.ui.Iklan.SubKategoriIklan.PropertiIklan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Properti.FormIklanPropertiDijualRA" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Properti.FormIklanPropertiDisewakanRA" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Properti.FormIklanPropertiTanah" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Properti.FormIklanPropertiDijualBK" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Properti.FormIklanPropertiIndekos" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Properti.FormIklanPropertiDisewakanBK" />
        <activity android:name="com.example.beeli.ui.Iklan.SubKategoriIklan.MotorIklan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Motor.FormIklanMotorAksesori" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Motor.FormIklanMotorHelm" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Motor.FormIklanMotorPart" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Motor.FormIklanMotorBekas" />
        <activity android:name="com.example.beeli.ui.Iklan.SubKategoriIklan.JasaIklan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Jasa.FormIklanJasaLowongan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Jasa.FormIklanJasaPekerjaan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Jasa.FormIklanJasa" />
        <activity android:name="com.example.beeli.ui.Iklan.SubKategoriIklan.ElektronikIklan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Elektronik.FormIklanElektronikTablet" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Elektronik.FormIklanElektronikPhone" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Elektronik.FormIklanElektronikAksesoris" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Elektronik.FormIklanElektronikFotografi" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Elektronik.FormIklanElektronikGames" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Elektronik.FormIklanElektronikKomputer" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Elektronik.FormIklanElektronikLampu" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Elektronik.FormIklanElektronikTV" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.HobiDanOlahraga.FormIklanHobiAlatMusik" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.HobiDanOlahraga.FormIklanHobiOlahraga" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.HobiDanOlahraga.FormIklanHobiSepedaAksesoris" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.HobiDanOlahraga.FormIklanHobiHandicraft" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.HobiDanOlahraga.FormIklanHobiBarangAntik" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.HobiDanOlahraga.FormIklanHobiBukuDanMajalah" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.HobiDanOlahraga.FormIklanHobiKoleksi" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.HobiDanOlahraga.FormIklanHobiMainan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.HobiDanOlahraga.FormIklanHobiMusikDanFilm" />
        <activity android:name="com.example.beeli.ui.Iklan.SubKategoriIklan.OlahragaIklan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.HobiDanOlahraga.FormIklanHobiHewan" />
        <activity android:name="com.example.beeli.ui.Iklan.SubKategoriIklan.RumahIklan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.RumahTangga.FormIklanRumahTanggaMakMin" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.RumahTangga.FormIklanRumahTanggaMebel" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.RumahTangga.FormIklanRumahTanggaDekorRumah" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.RumahTangga.FormIklanRumahTanggaKonstruksiDanTaman" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.RumahTangga.FormIklanRumahTanggaJam" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.RumahTangga.FormIklanRumahTanggaLampu" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.RumahTangga.FormIklanRumahTanggaPerlengkapanRumah" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.RumahTangga.FormIklanRumahTanggaLain" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Pribadi.FormIklanPribadiFashionWanita" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Pribadi.FormIklanPribadiFashionPria" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Pribadi.FormIklanPribadiJamTangan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Pribadi.FormIklanPribadiMakeUp" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Pribadi.FormIklanPribadiTerapiPengobatan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Pribadi.FormIklanPribadiPerawatan" />
        <activity android:name="com.example.beeli.ui.Iklan.SubKategoriIklan.PribadiIklan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Anak.FormIklanBayiPakaian" />
        <activity android:name="com.example.beeli.ui.Iklan.SubKategoriIklan.AnakIklan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Anak.FormIklanBayiPerlengkapanBayi" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Anak.FormIklanBayiPerlengkapanIbuBayi" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Anak.FormIklanBayiBonekaMainan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Anak.FormIklanBayiBukuAnak" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Anak.FormIklanBayiStroller" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Anak.FormIklanBayiLain" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.KantorIndustri.FormIklanKantorIndustriPeralatanKantor" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.KantorIndustri.FormIklanKantorIndustriPerlengkapanUsaha" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.KantorIndustri.FormIklanKantorIndustriMesinDanKeperluanIndustri" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.KantorIndustri.FormIklanKantorIndustriStationary" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.KantorIndustri.FormIklanKantorIndustriLain" />
        <activity android:name="com.example.beeli.ui.Iklan.SubKategoriIklan.KantorIklan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Pribadi.FormIklanPribadiPerhiasan" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Pribadi.FormIklanPribadiPakaianOlga" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Elektronik.FormIklanElektronikRumah" />
        <activity android:name="com.example.beeli.ui.Login.LoginAccount" />
        <activity android:name="com.example.beeli.ui.Login.LoginUser" />
        <activity android:name="com.example.beeli.ui.Login.Otp.VerifyOtp" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Pribadi.FormIklanPribadiSuplemen" />
        <activity android:name="com.example.beeli.ui.Iklan.FormIklan.Pribadi.FormIklanPribadiLainnya" />
        <activity android:name="com.example.beeli.ui.Lokasi.ProvinceActivity" />
        <activity android:name="com.example.beeli.ui.Lokasi.RegenciesActivity" />
        <activity android:name="com.example.beeli.ui.Lokasi.VillageActivity" />
        <activity android:name="com.example.beeli.ui.Home.Drawer" />
        <activity android:name="com.example.beeli.ui.Lokasi.DistrictActivity" />
    </application>

</manifest>